nav{
    display: inline;
    width: 100%;
    float: none;
}

body{
    background-image: none;
    background-color: var(--contentItem);
}
#mainLogo{
    height: 3em;
    width: 6em;
    margin-left: 20%;
}


#menu ul {
    display: block;
    text-align: center;
}

#menu li{
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}
#collabora{
    min-width: 10em;
    min-height: 30em;
    padding: 1em 0;
}

#contatti{
    text-align: center;
}

/*------------------------------*/

#breadcrumb{
    display: flex;
    margin:auto;
    width: 90%;
}
/*------------------------------*/
footer{
    display: block;
    width: 100%;
    border-radius: 0;
    margin-left:0%;
    margin-top: auto;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    padding: 0.3em 0
}
/*------------------------------*/
#content{
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.boxOutside{
    width: 100%;
    height:100%;
    margin: 0%;
    /* min-height: 24em; */
    border: 0;
    border-radius: 0;
    background-color: var(--honey-yellow);
    text-align: center;
    justify-content: center;
    align-self: center;
}

.boxSinistra {
    margin: 1% 0 ;
}

.boxDestra{
    margin: 1% 0 ;
}

img.postuscite,img.postpopolari{
   width: 6em;
}
.vflex{
    display: flex;
    flex-direction:column;
}

.hflex{
    display: block;
}
.itemList{
     height: auto;
     width: auto;
}

.hflex.itemList{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    width: 90%;
    grid-template-areas: "a a"
                         "b c";
}

.hflex.itemList a{
    grid-area: a;
    width:100%;
    font-weight: bold;
    font-size: 125%;
}

.itemList .avatarBox{
    grid-area: c;
    margin-right: 1em;
 }

.boxColonna{
    width: 100%;
    border:0;
    border-radius: 0;
    
}

.guide{
    width: 90%;
    margin: 1%;
}

.articoli {
    width: 90%;
    margin: 1%;
}

ul{
    list-style-type: none;
}
#searchBar {
    margin-right: auto;
    margin-left: auto;
    text-align: center
    
}

#content h2{
    color: var(--prussian-blue);
    font-size: 1.8em;
}

#intestazione{
    align-items: center;
    margin-bottom: 0.3em;
}

#intestazione a{
    margin-right: 0.5em;
}

#chiSiamo{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 2em;
}

.internaSinistra{
    margin: 1%;
}

#presentazione{
    text-align: center;
}

.internaDestra{
    margin-right: 1%;
}

.boxInside{
    text-align: center;
}


.itemStats{
    grid-area: b;
    text-align: initial;
    width: 100%;
    
}

#profiloBordo{
    align-items: center;
    padding-top: 1em;
}

#ultimeUscite{
    padding: 1em 0;
}

#ultimeUscite{
    padding: 1em 0;
}

#zone{
    width: 98%;
    justify-content: center;
    height: 22em;
}

#zone *{
    width: auto;
    align-items: center;
}

#avatar
{
    margin-top: 1em;
    height: 100px;
    width:100px;
    background-image: url("./Immagini/emerald/54.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--backgroundWidget);
    border:black 2px solid;
    border-radius: 5em;
}

#zone .avatar {
    width: 100px;
}

#campi {
    width: 14em;
    align-items: center;
}

#campi *{
    margin-top: 0.5em;
}

#campi button{
    width: 35px;
    height: 35px;
    background-color: var(--backgroundWidget);
    margin-top: 1.5em;
}

#zone #posts, #zone #statistiche, #zone #profiloForm{
    width: auto;
    align-items: center;
}

#campiLogin{
    width: 90%;
}
/*------------------------------
