 @font-face {
    font-family: "Questrial";
    src: url("./fonts/Questrial-Regular.ttf");
}

:root{
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --honey-yellow: #ffb703ff;
    --border: #fb8500ff;
    --contentItem:#ffe566;
    --backgroundWidget:rgb(255, 247, 239);
    --errorFont:#800000;
    --semitransparentFilter:rgba(0,0,0,0.3);
    --deleteHover:rgb(255, 148, 148);
}

*{
    margin:0;
    padding: 0;
}

input, button, textarea, #searchBar, footer, #searchBar, select{
    border-radius: 0.3em;
}

textarea{
    font-size: 16px;
}

header{
    margin-top: 2em;
    margin-left:2em;
}

html, body{
   
    font-family: "Questrial",sans-serif;
    font-size: 100%;
}

body{
    border:none;
   /* background-color: var(--light-cornflower-blue);*/
   background-image: url("./Immagini/backgroundgiorno.png");
    background-size:cover;
    background-attachment: fixed;
}

#mainLogo{
    background-image: url("./Immagini/Logo/big_logo.svg");
    background-size:cover;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin-left: 6em;
    text-indent: -99em;
}

.highlight{
    font-weight: bold;
}

#menu ul {
    display: flex;
    border: var(--border) inset 2px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 0.1em;
    padding: 0.2em;
}
#menu a{
    text-decoration: none;
    color: var(--prussian-blue);
}
#menu ul li{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
    color: var(--prussian-blue);
}
#menu ul li:hover a,#menu ul li:active a{
    background-color:var(--contentItem) ;
    color: var(--prussian-blue);
    border-radius: 0.3em;

}
#ricerca{
    display: flex;
    margin-left: auto;
}

#collabora input, #collabora textarea{
    width: 70%;
}

#collabora{
    min-width: 15em;
    min-height: 30em;
}

#collabora h2{
    margin-top: 0.5em;
}

#collaboraForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collaboraForm *{
    margin-top: 0.25em;
}

#collabora textarea{
    min-height: 18em;
}

#collabora input[type="submit"]{
    margin-top: 1.2em;
}

#contatti, #presentazione{
    text-align: start;
    padding-left: 0.8em ;
    padding-right: 0.8em;
    padding-bottom: 0.5em;
}

#contatti h2, #presentazione h2{
    margin-top: 0.5em ;
    margin-bottom: 0.2em ;
}

#searchBar {
    align-self: center;
}

/*------------------------------*/

#breadcrumb{
    display: flex;
    margin:auto;
    width: 70%;
}
/*------------------------------*/
footer{
    display: flex;
    width: 70%;
    background-color: var(--honey-yellow);
    padding: 0.3em;
    bottom: 0;
    margin-left:15%;
    position: fixed;
}
/*------------------------------*/
#content{
    display: flex;
    height: 90%;
    width: 60em;
    margin: auto;
    border: var(--border) inset 1px;
    background-color: var(--contentItem);
    border-radius: 0.5em;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    padding:2em;
    text-align: left;
}

.contenutiTesto h2, .contenutiTesto h3, .contenutiTesto h4{
    margin-top: 1em;
    align-self: flex-start;
}
.contenutiTesto img
{
    margin: auto;
    margin-top: 1em;
    display: block;
    border-radius: 0.5em;
}


.boxInside{
    margin:0.5em;
    border: 3px;
    border-radius: 0.5em;
    background-color: var(--contentItem);
    min-height: 5em;
    min-width: 5em;
}

.boxRect{
    margin:0.5em;
    border: 3px;
    border-radius: 0.5em;
    background-color: var(--backgroundWidget);
    height: 9em;
    width: 80%;
    padding: 1em;
    justify-content: space-evenly;
}

.itemList{
    margin:0.5em;
    border: 3px;
    border-radius: 0.5em;
    background-color: var(--contentItem);
    height: 6em;
    width: 90%;
    padding: 1em;
    align-self: center;
    align-items: center;
}

.itemList .avatarBox{
   margin-left: auto;
}

.itemList a{
    width:50%;
    font-weight: bold;
    font-size: 125%;
}

/* Eventuale animazione .itemList a:hover{
} */

.itemStats{
    width: 20%;
}

.boxComment *{
    margin-top: 0.5em;
}

.boxComment #cancella{
    margin-left: auto;
}

.pressed.like {
    background-image: url("Immagini/icons/like_pieno.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
    height: 24px;
    width: 24px;
}

.pressed.dislike {
    background-image: url("Immagini/icons/dislike_pieno.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
    height: 24px;
    width: 24px;
}

.unpressed.like {
    background-image: url("Immagini/icons/like_vuoto.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
    height: 24px;
    width: 24px;
}

.unpressed.dislike{
    background-image: url("Immagini/icons/dislike_vuoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
    height: 24px;
    width: 24px;
}

.expand{
    height: max-content;
}

.boxOutside{
    width: 80%;
    height:80%;
    margin: 4%;
    /* min-height: 24em; */
    border:var(--border) solid 5px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    text-align: center;
    justify-content: center;
    align-self: center;
}

img.postuscite,img.postpopolari{
   width: 6em;
}
.vflex{
    display: flex;
    flex-direction:column;
}

.hflex{
    display: flex;
    flex-direction:row;
}

.boxColonna{
    width: 50%;
    height:90%;
    min-height: var(--boxHeight);
    border:var(--border) solid 5px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    text-align: center;
}
.boxDestra {
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 1%; 
    margin-bottom: 5%;

}

.boxSinistra {
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
}


ul{
    list-style-type: none;
}

#content h2{
    color: var(--prussian-blue);
    font-size: 1.8em;
}

#chiSiamo{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    justify-content: center;
    text-align: center;
}

.internaSinistra{
    margin-left: 1%;
    margin-right: 0.2%;
}

.internaDestra{
    margin-right: 1%;
}

#profiloBordo{
    align-items: center;
    padding-top: 1em;
}
#zone{
    width: 98%;
    justify-content: center;
    height: 22em;
}

#zone #posts, #zone #statistiche, #zone #profiloForm{
    width: 30%;
    align-items: center;
}

#adminZone{
    width: 98%;
    justify-content: center;
    height: 15em;
}

#adminZone *{
    width: 60%;
    align-items: center;
}

.avatar
{
    margin-top: 1em;
    height: 100px;
    width:100px;
    background-image: url("./Immagini/emerald/54.png");
    background-size: contain;
    background-repeat: no-repeat;
    border:var(--honey-yellow) 5px solid;
    border-radius: 5em;
}

.avatar.miniAvatar{
    height: 50px;
    width:50px;
    border:var(--honey-yellow) 2px solid;
}

.avatarBox{
    width: 20%;
    align-items: center;
}

.avatarBox label{
    text-align: center;
}

.avatar, input, button, textarea{
    background-color: var(--backgroundWidget);
}

#campiProfilo {
    width: 100%;
    height:40%;
    align-items: center;
}

#campiProfilo *{
    margin-top: 0.5em;
}

#campiProfilo button {
    background-image: url("./Immagini/icons/brush.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
}

#campiProfilo input, #campiProfilo button{

    height: 60%;
    width: 70%;
}

label.smalltext {
    font-size: 75%;
}

#infoProfilo, #posts{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statistiche{
    align-items: center;
    justify-content: center;
}

#statistiche *{
    width: 85%;
    padding:0.5em;
}

#posts .boxOutside{
    min-width: 10em ;
    font-size: 14px;
}

#profiloForm{
    justify-content: center;
}

#psyduckConfused{
    background-image: url("./Immagini/404.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30em;
}

#psyduckConfused h1{
    margin-top: 0.7em;
}

#psyduckConfused p{
    position: relative;
    top:16em;
    right:9em;
    font-size: 20px;
}

#buttonLogin{
    width: 80%;
    align-self: center;
}
#buttonLogin button{
    width: 30%;
    margin:auto;
}

#loginForm{
    width: 95%;
    height: 15em;
    align-items: center;
    justify-content: center;
}
#campiLogin{
    width: 40%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: left;
}


#campiLogin *{
    height: 100%;
}  

#campiLogin label, #campiLogin p, #campiLogin #clogin{
    padding-top: 0.7em;
}  

.errormsg{
    font-size: 90%;
    color: var(--errorFont);
}

#loginForm.enlarge{
    height: 30em;
}

.commento{
    width: 80%;
    justify-content: space-between;
}

.gestioneCommento button{
    margin-left: 2em;
}

.commento p.testo{
    margin-top: 2.5em;
}

#filters img.icon{
    height: 24px;
    width: 24px;
    margin-left: 0.25em;
}

#filters{
    margin-top: 1em;
    margin-bottom: 1em;
}

#filters h2{
    align-items: center;
}

#intestazione{
    align-items: center;
}

#intestazione{
   justify-content: space-between;
}
#intestazione .space, #intestazione a{
    width: 20%;
 }

#creaCommento{
    width: 60%;
    height: 40%;
    align-self: flex-start;
    margin-left: 5em;
}

#creaCommento *{
     margin-top: 1em;
}

#creaCommento button{
    width: 50%;
    align-self: center;
}
 
.dataCreazione{
    margin-left: auto;
}

button.like, button.dislike{
    border: none;
}

.gestioneContenuto{
    margin-top: 1em;
    justify-content: flex-end;
    width: 100%;
}

.gestioneContenuto *{
    margin-right: 1em;
}

.like, .dislike{
    background-color: transparent;
}

.unpressed.like, .unpressed.dislike{
    transition: background-color 0.1s;
    transition: background-size 0.1s;
    background-size: 100%;
}

.unpressed.like:hover, .unpressed.dislike:hover{
    background-size: 105%;
}

.cancella{
    margin-left: auto;
    transition: background-size 0.2s ease-in-out;
    background-image: url("Immagini/icons/x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
    height: 24px;
    width: 24px;
    border: none;
    background-size: 50%;
    border-radius: 5em;
}

.cancella:hover{
    background-color: var(--deleteHover);   
}

#popUpWrapper{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--semitransparentFilter);
    justify-content: center;
    align-items: center;

    /* per coprire anche il footer */
    z-index: 2;
}

#popUp{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundWidget);
    width: 40%;
    height: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

#confermaCancella{
    display: flex;
    width: 60%;
    justify-content: space-evenly;  
}

#confermaCancella button{
    width: 30%;
    margin-top:1em;
}

#adminZone form{
    justify-content: center;
    align-items: center;
}

#adminZone *{
    margin-top: 0.5em;
    text-align: left;
}

#adminZone input[type='submit']{
    width: 40%;
    text-align: center;
}
/*------------------------------*/
