 @font-face {
    font-family: "Questrial";
    src: url("./fonts/Questrial-Regular.ttf");
}

:root{
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --honey-yellow: #ffb703ff;
    --orange: #fb8500ff;
    --yellow:#ffe566;
    --backgroundWidget:rgb(253, 242, 222);
}

*{
    margin:0;
    padding: 0;
}

input, button, textarea, #searchBar, footer{
    border-radius: 0.3em;
}

header{
    margin-top: 2em;
    margin-left:2em;
}

html, body{
   
    font-family: "Questrial",sans-serif;
    font-size: 100%;
}

body{
    border:none;
   /* background-color: var(--light-cornflower-blue);*/
   background-image: url("./Immagini/backgroundgiorno.png");
    background-size:cover;
    background-attachment: fixed;
}

#mainLogo{
    background-image: url("./Immagini/Logo/big_logo.svg");
    background-size:cover;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin-left: 6em;
    text-indent: -99em;
}

.highlight{
    font-weight: bold;
}

#menu ul {
    display: flex;
    border: var(--orange) inset 2px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 0.1em;
    padding: 0.2em;
}
#menu a{
    text-decoration: none;
    color: var(--prussian-blue);
}
#menu ul li{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
    color: var(--prussian-blue);
}
#menu ul li:hover a,#menu ul li:active a{
    background-color:var(--yellow) ;
    color: var(--prussian-blue);
    border-radius: 0.3em;

}
#ricerca{
    display: flex;
    margin-left: auto;
}

#collabora input, #collabora textarea{
    width: 70%;
}

#collabora{
    min-width: 15em;
    min-height: 30em;
}

#collabora h2{
    margin-top: 0.5em;
}

#collaboraForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collaboraForm *{
    margin-top: 0.25em;
}

#collabora textarea{
    min-height: 18em;
}

#collabora input[type="submit"]{
    margin-top: 1.2em;
}

#contatti, #presentazione{
    text-align: start;
    padding-left: 0.8em ;
    padding-right: 0.8em;
    padding-bottom: 0.5em;
}

#contatti h2, #presentazione h2{
    margin-top: 0.5em ;
    margin-bottom: 0.2em ;
}

#searchBar {
    background: var(--yellow);
    align-self: center;
}

/*------------------------------*/

#breadcrumb{
    display: flex;
    margin:auto;
    width: 70%;
}
/*------------------------------*/
footer{
    display: flex;
    width: 70%;
    background-color: var(--honey-yellow);
    padding: 0.3em;
    bottom: 0;
    margin-left:15%;
    position: fixed;
}
/*------------------------------*/
#content{
    display: flex;
    height: 90%;
    width: 60em;
    margin: auto;
    border: var(--orange) inset 1px;
    background-color: var(--yellow);
    border-radius: 0.5em;
    height: max-content;
    justify-content: center;
}

.boxInside{
    margin:0.5em;
    border: 3px;
    border-radius: 0.5em;
    background-color: var(--yellow);
    min-height: 5em;
    min-width: 5em;
}
.expand{
    height: max-content;
}

.boxOutside{
    width: 80%;
    height:80%;
    margin: 4%;
    /* min-height: 24em; */
    border:var(--orange) solid 5px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    text-align: center;
    justify-content: center;
    align-self: center;
}

img.postuscite,img.postpopolari{
   width: 6em;
}
.vflex{
    display: flex;
    flex-direction:column;
}

.hflex{
    display: flex;
    flex-direction:row;
}

.boxColonna{
    width: 50%;
    height:90%;
    min-height: var(--boxHeight);
    border:var(--orange) solid 5px;
    border-radius: 0.5em;
    background-color: var(--honey-yellow);
    text-align: center;
}
.boxDestra {
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 1%; 
    margin-bottom: 5%;

}

.boxSinistra {
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
}

ul{
    list-style-type: none;
}

#content h2{
    color: var(--prussian-blue);
    font-size: 1.8em;
}

#chiSiamo{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    justify-content: center;
    text-align: center;
}

.internaSinistra{
    margin-left: 1%;
    margin-right: 0.2%;
}

.internaDestra{
    margin-right: 1%;
}

#profiloBordo{
    align-items: center;
    padding-top: 1em;
}
#zone{
    width: 98%;
    justify-content: center;
    height: 22em;
}

#zone *{
    width: 30%;
    align-items: center;
}

#avatar
{
    margin-top: 1em;
    height: 100px;
    width:100px;
    background-image: url("./Immagini/emerald/54.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--backgroundWidget);
    border:black 2px solid;
    border-radius: 5em;
}

#campi {
    width: 20em;
    align-items: center;
}

#campi *{
    margin-top: 0.5em;
}

#campi button {
    width: 35px;
    height: 35px;

    background-image: url("./Immagini/icons/brush.svg");
    background-color: var(--backgroundWidget);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    margin-top: 1.5em;
}

#campi input[type='text'], #campi input[type='password']{
    width: 35px;
    height: 35px;
    width: 70%;
    margin-top: 1.5em;
}

label.smalltext {
    font-size: 75%;
}

#infoProfilo, #posts{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statistiche{
    align-items: center;
    justify-content: center;
}

#statistiche *{
    width: 85%;
    padding:0.5em;
}

#posts .boxOutside{
    min-width: 10em ;
    font-size: 14px;
}

#profiloForm{
    justify-content: center;
}

#psyduckConfused{
    background-image: url("./Immagini/404.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30em;
}

#psyduckConfused h1{
    margin-top: 0.7em;
}

#psyduckConfused p{
    position: relative;
    top:16em;
    right:9em;
    font-size: 20px;
}
/*------------------------------*/
